<!-- load the static content defined in settings.py of Connected -->
<!-- Can settings.py and static be available at app level?-->
{% load static %}

<!-- Unordered list -->
<ul>
    <!-- request means current HttpRequest -->
    {% if request.user.is_authenticated %}
        <li>
            Hi, {{request.user.username}}
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
    {% endif %}
</ul>

<!-- Add an anchor for make_post to create form-->
<div>
    <a href="{% url 'make_post' %}">Make Post</a>

</div>

<div>
    <!-- %% represents HTML templating language inside html -->
    <!-- object_list is created when view is exectuing, containing a list of objects-->
    <!-- check the django doc for ListView -->
    <!-- You can also use the pl. of model name defined in views.py for object_list -->
    <!-- This also means thie html file is automatically connected with views.py -->
    {% for post in object_list %}  
    <!-- {{post.image}} is also django syntax-->
    <!-- <a href="/MyPage/"> -->
    
    <a href="{% url 'post_detail' post.id%}">
        <img src="/{{post.image}}">  
    </a>
    {% endfor %}

</div>>